.button::after {
    top: 20px;
    left: 23px;
    display: none !important;
}

.button.active {
    padding: 20px 0px 20px 0 !important;
}

.button {
    padding: 20px 0 20px 0 !important;
}

.featureHeader {
    background: #2374c3 !important;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    padding: 1.5em !important;
}

.feature {

    background: #ddd !important;
    color: #000;
    border-bottom: 1px solid #bbb !important;
}

.favorite-button.m-t-10 {
    display: flex;
}

.min-max span {
    font-size: .83em !important;
}