#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
    margin: 0;
    padding: 0;
    position: relative;
}
#cssmenu {
    line-height: 1;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background: #e8e8e8;
    background: -moz-linear-gradient(top, #e8e8e8 0%, #e8e8e8 100%);
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%, #e8e8e8));*/
    /*background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);*/
    /*background: -o-linear-gradient(top, #333333 0%, #141414 100%);*/
    /*background: -ms-linear-gradient(top, #333333 0%, #141414 100%);*/
    /*background: linear-gradient(to bottom, #333333 0%, #141414 100%);*/
    border-bottom: 2px solid #0fa1e0;
    width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
    content: '';
    display: block;
    clear: both;
}
#cssmenu a {
    background: #e8e8e8;
    /*background: -moz-linear-gradient(top, #e8e8e8 0%, #e8e8e8 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8), color-stop(100%, #e8e8e8));*/
    /*background: -webkit-linear-gradient(top, #e8e8e8 0%, #e8e8e8 100%);*/
    /*background: -o-linear-gradient(top, #e8e8e8 0%, #e8e8e8 100%);*/
    /*background: -ms-linear-gradient(top, #e8e8e8 0%, #e8e8e8 100%);*/
    /*background: linear-gradient(to bottom, #e8e8e8 0%, #e8e8e8 100%);*/
    color: #000;
    display: block;
    font-family:'iranyekan', Tahoma;
    padding: 19px 20px;
    text-decoration: none;
}
#cssmenu ul {
    list-style: none;
}
#cssmenu > ul > li {
    display: inline-block;
    float: right;
    margin: 0;
}
#cssmenu.align-center {
    text-align: center;
}
#cssmenu.align-center > ul > li {
    float: none;
}
#cssmenu.align-center ul ul {
    text-align: right;
}
#cssmenu.align-right > ul {
    float: right;
}
#cssmenu.align-right ul ul {
    text-align: right;
}
#cssmenu > ul > li > a {
    color: #000;
    font-size: 12px;
}
#cssmenu > ul > li:hover:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 50%;
    bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0fa1e0;
    margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
    border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
}
#cssmenu.align-right > ul > li:first-child > a,
#cssmenu.align-center > ul > li:first-child > a {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
#cssmenu.align-right > ul > li:last-child > a {
    border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a {
    color: #000;
    /*box-shadow: inset 0 0 3px #000000;*/
    /*-moz-box-shadow: inset 0 0 3px #000000;*/
    /*-webkit-box-shadow: inset 0 0 3px #000000;*/
    background: #e8e8e8;
    background: -moz-linear-gradient(top, #e8e8e8 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8), color-stop(100%, #e8e8e8));
    background: -webkit-linear-gradient(top, #e8e8e8 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #e8e8e8 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #e8e8e8 0%, #e8e8e8 100%);
    background: linear-gradient(to bottom, #e8e8e8 0%, #e8e8e8 100%);
}
#cssmenu .has-sub {
    z-index: 1;
}
#cssmenu .has-sub:hover > ul {
    display: block;
}
#cssmenu .has-sub ul {
    display: none;
    position: absolute;
    width: 200px;
    top: 100%;
    right: 0;
}
#cssmenu.align-right .has-sub ul {
    right: 0;
    right: auto;
}
#cssmenu .has-sub ul li {
    *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
    background: #0fa1e0;
    border-bottom: 1px dotted #31b7f1;
    font-size: 11px;
    filter: none;
    display: block;
    line-height: 120%;
    padding: 10px;
    color: #ffffff;
}
#cssmenu .has-sub ul li:hover a {
    background: #0c7fb0;
}
#cssmenu ul ul li:hover > a {
    color: #ffffff;
}
#cssmenu .has-sub .has-sub:hover > ul {
    display: block;
}
#cssmenu .has-sub .has-sub ul {
    display: none;
    position: absolute;
    right: 80%;
    top: 0;
}
#cssmenu.align-right .has-sub .has-sub ul,
#cssmenu.align-right ul ul ul {
    left:  100%;
    right: auto;
}
#cssmenu .has-sub .has-sub ul li a {
    background: #0c7fb0;
    border-bottom: 1px dotted #31b7f1;
}
#cssmenu .has-sub .has-sub ul li a:hover {
    background: #0a6d98;
}
#cssmenu ul ul li.last > a,
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul ul li.last > a,
#cssmenu ul ul ul li:last-child > a,
#cssmenu .has-sub ul li:last-child > a,
#cssmenu .has-sub ul li.last > a {
    border-bottom: 0;
}


#cssmenu ul {

    width: 80%;
    float: right;
    margin-right: 21%;
    margin-right: 13%;

}