.sweet-alert p,.sweet-alert button {
    /*font-family: mft !important;*/
}
#galleryPicker .modal-dialog,#uploader .modal-dialog {
    max-width: 1000px;
    margin: 30px auto;
    width: 100%;
}
#uploader .modal-dialog {
    max-width: 1000px;
    margin: 30px auto;
    width: 100%;
}
.fullwidth {
    width:100%;
}
.form-group.form-md-line-input .help-block {
    opacity: .8;
    filter: alpha(opacity=8);
}
.md-checkbox label > .check {
    border: 2px solid #36c6d3;
    border-top-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
}
.dataTables_wrapper .dt-buttons {
    float: left;
}
.portlet.box .dataTables_wrapper .dt-buttons {
    margin-top: 0px;
}
div.dataTables_wrapper div.dataTables_paginate {
    text-align: left;
}
div.dataTables_wrapper div.dataTables_paginate {
    margin-top: 5px;
    margin-bottom: 15px;
}
.md-checkbox label > .check {
    border-top-color: transparent !important;
    border-left-color: transparent !important;
}

.md-checkbox-inline .md-checkbox {
    display: inline-block;
    margin-right: 0px;
    margin-left: 20px;
}


#galleryPicker .panel-title {  margin-top: 0;  margin-bottom: 0;  font-size: 10px;  color: inherit;  }  .dt-button {  padding: 5px;  background-color: #00c0ef;  color: #fff;  cursor: pointer;  margin: 5px;  }  .dt-buttons {  float:left;}