@import url("/assets/css/fonts.css");

body, h1, h2, h3, h4, h5, h6, p {
    font-family: iranyekan;
}
.form-group.form-md-line-input .form-control {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #d9d9d9;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: #555;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}
.moreThumbs > div {
    width: 50%;
}

.sweet-alert {
    box-shadow: 0 0 5px 1px gray;
}

.dashboard-stat2 {

    padding: 15px 15px 10px;
    cursor: default;
}

.dashboard-stat2 .display .number h3 {
    font-size: 1.2em;
}

.dashboard-stat2 .display .number h3 > small {
    font-size: 1.2em;
}

.dashboard-stat2 .display .number small {
    font-size: .9em;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: none;
}

.dashboard-stat2 .display .icon i {
    font-size: 2.3em;
}

.dropdown-menu {
    font-family: iranyekan;
}

.dashboard-stat2 .display .number h3 {
    margin: 0 0 4px;
}

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    font-size: .9em;
    font-weight: 300;
}

.scroll-to-top > i {
    font-size: 2em;
    color: #fff;
}

.page-content-wrapper .page-content {
    margin-right: 235px;
    margin-left: 0px;
    margin-top: 0;
    min-height: 600px;
    padding: 25px 20px 10px;
}

.page-sidebar {
    width: 235px;
    float: right;
    position: relative;
    margin-left: -100%;
    margin-right: 0%;
}

.quick-nav {
    position: fixed;
    z-index: 10103;
    top: 50%;
    right: inherit;
    left: 0px;
    margin-top: -230px;
    pointer-events: none;
}

.quick-nav .quick-nav-bg {

    left: 0;
}

.page-sidebar-closed .page-content-wrapper .page-content {
    margin-right: 45px !important;
    margin-left: 0px !important;
}

.dropdown-menu {
    left: 0;
    right: auto;
    float: right;
    text-align: right;
}

.page-sidebar-closed .page-logo h1 {
    display: none;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
    padding: 6px 35px 6px 43px;
}

.page-sidebar .page-sidebar-menu li > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow::before {
    float: left;
    left: 14px;
    right: inherit;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu::after {
    left: 10px;
    right: inherit;
}

.page-header.navbar .page-logo {
    float: right;
    display: block;
    width: 235px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#mft-title {
    margin-right: 10px;
    line-height: .5em;
}

.page-logo h1 {
    font-size: 1em;
    color: #fff;
}

.page-header.navbar .top-menu {
    margin: 0;
    padding: 0;
    float: left;
}

.dashboard-stat2 .display .number {
    float: right;
}

.dashboard-stat2 .display .icon {
    float: left;
}

.dashboard-stat2 .display .icon i {
    font-size: 3em;
}

.font-red-sharp {
    color: darkred !important;
}

#group #group-error {
    display: none;
!important;
}

.portlet > .portlet-title > .caption {
    float: right;
}

.portlet > .portlet-title > .tools {
    float: left;
}

.portlet > .portlet-title > .caption > i {
    float: right;
    font-size: 1.5em;
    margin-left: 10px;
}

.tooltip {
    font-family: iranyekan;
    font-size: 1em !important;
    line-height: 2em;
}

.steps li a {
    cursor: default;
}

.select2-selection__choice {
    font-family: iranyekan;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    float: right;
}

.select2-container--bootstrap[dir="rtl"] .select2-selection--single {
    font-family: iranyekan;
}

/*.active .nav-link.nav-toggle {*/
/*background-color: #14754c !important;*/
/*}*/

.nav-item.start.subactive {
    background-color: #5085b3 !important;
}

.factor_input {
    border: none;
    background-color: transparent;
    font-size: medium;
    color: #000;
    text-decoration: underline;
    text-decoration-color: currentcolor;
    text-decoration-color:
            #848484;
}

.boxer {

    width: 98%;
    min-height: 200px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 0px;
    border: 1px solid #bde0e4;
    margin-bottom: 2%;
    padding: 1%;
    background-color: #fff;
    border-radius: 5px;
}